@import '../../styles/vars.scss';

.fix {
  transform: scale(1) !important; // Fix for React-Bootstrap scaling bug on static modals.
}

.bg {
  background-color: $dark;
  opacity: 1 !important;
}

.content {
  background: none;
  border: none;

  .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .navHeader {
      img {
        max-width: 150px;
      }
    }

    button.link {
      background: none;
      border: none;
      width: 100%;  
    }

    .link {
      display: block;
      font-size: 1.222rem;
    }

    button.link, .link {
      border-bottom: 3px $gold solid;
      transition: all 500ms ease;

      &:hover {
        color: white;
        border-color: white;
        text-decoration: none;
      }
    }
  }
}

.dialog {
  background: none;  
}