@import '../../styles/vars.scss';

.root {
  position: relative;

  .bgText {
    opacity: 0.15;
    font-weight: $bold;
    position: absolute;
    top: 45%;
    font-size: 15rem;
    line-height: 0;
  }
}