@import '../../styles/vars.scss';

.root {
  position: relative;
  overflow: hidden;

  .bgText {
    opacity: 0.2;
    font-weight: $bold;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 10rem;
    line-height: 0;
  }
}