@import '../../styles/vars';

.root {
  width: 195px;
  height: 55px;
  background-color: $gold;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;

  &.standard:hover {
    background-color: white;
  }

  &.color:hover {
    background-color: $purple;

    .inner {
      span, svg path {
        color: white;
      }
    }
  }

  .inner {
    svg {
      margin-top: -4px;
    }
  }
}