@import '../../styles/vars';

a.root {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.root {
  width: 195px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;

  &.standard, &.color {
    background-color: $gold;
    border-radius: 15px;
  }

  @media (hover: hover) {
    &.standard:hover {
      background-color: white;
    }
  
    &.color:hover {
      background-color: $purple;
  
      .inner {
        span, svg path {
          color: white;
        }
      }
    }
  }

  .inner {
    svg {
      margin-top: -4px;
    }
  }
}