@import '../../styles/vars.scss';

.root {
  a {
    font-weight: $bold;
    color: $purple;
  }

  a:hover {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .title {
    border-left: $purple 10px solid;
    font-size: 1.5rem;
  }

  .error {
    border-color: red;
  }

  .errorMsg {
    font-size: 0.8rem;
    color: red;
  }

  .form {
    textarea {
      min-height: 125px;
    }

    .submit {
      background-color: $purple;
      border-color: $purple;
    }
  }
}