@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;900&display=swap');
@import './vars';

:root {
  font-size: 112.5%; // Default font-size 18px.
}

* {
  font-family: 'Exo 2', sans-serif;
  color: $dark;
}

p, a, input, textarea, h3, h4, h5, h6 {
  font-weight: $regular; 
  font-size: 1rem;
}

p {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6  {
  font-weight: $bold;
}

h1, h2 {
  font-size: 1.222rem; // 22px.

  @media (min-width: 414px) {
    font-size: 1.555rem; // 28px.
  }

  @media (min-width: 840px) {
    font-size: 2.5rem; // 45px.
  }

  @media (min-width: 1440px) {
    font-size: 3.055rem; // 55px.
  }
}

.highlight {
  color: $gold;
}

.bold {
  font-weight: $bold;
}

.mt-10 {
  margin-top: 6rem !important;
}

.ml-10 {
  margin-left: 6rem !important;
}

.mr-10 {
  margin-right: 6rem !important;
}

.mb-10 {
  margin-bottom: 6rem !important;
}